@model IEnumerable<ReviewerFinal.Models.Game>

@{
    ViewBag.Title = "Game List";
    List<ReviewerFinal.Models.GameSystem> horizBoxArt = new List<ReviewerFinal.Models.GameSystem>()
    {
        ReviewerFinal.Models.GameSystem.SecondGen,
        ReviewerFinal.Models.GameSystem.SNES,
        ReviewerFinal.Models.GameSystem.Nintendo64
    };
}

<h2>Game List</h2>
@{Html.BeginForm("Search", "Games", FormMethod.Get);}
<input type="text" name="searchString" value="" class="form-control" style="display: inline-block" />
<input type="submit" value="Search" class="btn btn-default" />
@{Html.EndForm();}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameConsoles)
        </th>
        <th>
            <p>Reviews</p>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@item.GameImage" class="GameImage" @{ int height = 150; int width = 100;  if (horizBoxArt.Contains(item.GameConsoles)) { height = 100; width = 150; } } height=@height width=@width />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameConsoles)
            </td>
            <td>
                @Html.ActionLink("Create New", "Create", "GameReviews", new { gameID = item.GameID }, null) |
                @Html.ActionLink("View", "ListReviewByGame", "GameReviews", new { gameID = item.GameID }, null) |
                @Html.ActionLink("Details", "Details", new { id = item.GameID })
            </td>
            @if (User.IsInRole("GameAdmin"))
                {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.GameID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.GameID })
                </td>
                }
        </tr>
    }
</table>
